In [1]:
import pandas as pd
pd.__version__

'2.2.2'

In [5]:
df_zone = pd.read_csv('taxi_zone_lookup.csv')
df_zone

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [7]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine('postgresql://root:root@localhost:5431/ny_taxi_2019')
engine.connect()

In [11]:
df_zone.head(0).to_sql(name='taxi_zones_2019', con=engine, if_exists='replace')

0

In [13]:
df_zone.to_sql(name='taxi_zones_2019', con=engine, if_exists='append')

265